<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/assets/styles.css">
    </head>
    <body>
        <h1>welcome <%= data %></h1>
        <p> you are safe</p>
    </body>
</html>